fftw-3.3-libs/libfftwf-3.3/ARM/
fftw-3.3-libs/libfftwf-3.3/Debug/
fftw-3.3-libs/libfftwf-3.3/x64/
*.suo
*.sdf
fftw-3.3-libs/Debug/
*.vcxproj.user
*.suo
*.opensdf
fftw-3.3-libs/libfftw-3.3-winrt/Debug/
*.ipch
fftw-3.3-libs/libfftw-3.3-wp8/Debug/
*.obj
*.tlog
*.pch
*.resfiles
priconfig.*
*.intermediate
*.pdb
*.idb
*.log
*/MultipleQualifiersPerDimensionFound.txt
*/qualifiers.txt
*.pri
*/qualifiers.txt
fftw-3.3-libs/libfftw-3.3-winrt/DebugW81/qualifiers.txt
fftw-3.3-libs/libfftw-3.3-winrt/DebugW81/MultipleQualifiersPerDimensionFound.txt
fftw-3.3-libs/libfftw-3.3-winrt-static/Debug/MultipleQualifiersPerDimensionFound.txt
fftw-3.3-libs/libfftw-3.3-winrt-static/Debug/qualifiers.txt
fftw-3.3-libs/libfftw-3.3-winrt-static/DebugW81/MultipleQualifiersPerDimensionFound.txt
fftw-3.3-libs/libfftw-3.3-winrt-static/DebugW81/qualifiers.txt
